@model IEnumerable<TaskManager.Comment>
@{WebGrid grid = new WebGrid(Model,rowsPerPage:10); }
<head>
    <style>
        .css-class {
            text-align: center;
            
        }

        .hheader {
            text-align: right;
        }
  
    </style>
</head>
@using (Html.BeginForm("Comment", "Task", new { id = ViewBag.UserID, TaskID = ViewBag.TaskID }, FormMethod.Post, null))
{



    @*<ul id="liste">
        @foreach (var item in Model)
        {
            <li id="@item.CommentID"><h5>@item.TUser.Username &nbsp;:&nbsp;@item.CommentContent</h5></li>
        }
    </ul>*@
    <div id="dvGrid" style="height:320px; width:500px; overflow:auto">
  @grid.GetHtml(
        htmlAttributes: new { id = "Grid1" },
        tableStyle: "table",
        fillEmptyRows: false,
        headerStyle: "hheader",
        columns: new[]
        {


            grid.Column("CommentContent","Yorumlar"/*, canSort: true, style: "css-class"*/),
            grid.Column("CommentDate","Tarih"/*, canSort: true, style: "css-class"*/)
    }
    )
         </div>


    if (Session["Control"].ToString() == "0") {
<div class="form-group">
     <div class="col-md-10">
        <textarea rows="5" style="width:600px" id="textAnswer" name="textAnswer"></textarea>
    </div>
</div>

<div class="form-group">
    <div class="col-md-offset-2 col-md-10">
        <input type="submit" value="Yorum Yap" class="btn btn-default" />
    </div>
</div>

   

    }
}

@section Scripts{
    <script src="~/Scripts/jquery-3.1.1.js"></script>
<script src="~/Scripts/jquery-3.1.1.min.js"></script>
 
    
            <script>
                var pageIndex = 1;
                var pagecount;
                $(function($) {
                    $("#dvGrid").bind("scroll", function () {
                        if ($(this).scrollTop() + $(this).innerHeight >= $(this).scrollHeight)

                        {
                            GetRecords();
                        }
                        
                    });
                });
        </script>
    <script>
                function GetRecords() {
                    debugger;
                    pageIndex++;
                    if (pageIndex == 2 || pageIndex <= pagecount)
                    {

                        if ($("[id$=Grid1] .loader").length == 0) {
                            var row = $("[id$=Grid1] tr").eq(0).clone(true);
                            row.addClass("loader");
                            row.children().remove();
                            row.append('<td colspan="999" style="background-color:white"><img id="loader" alt="" src="gif" /><td>');
                            $("[id$=Grid1]").append(row);


                        }
                        $ajax({
                            type: "POST",
                            url: "localhost:57115/Task/CComment",
                            data: '{pageIndex:' + pageIndex + '}',
                            contentType: "application/json; charset=utf-8",
                            dataType: "json",
                            success: OnSuccess,
                            failure: function (res) {
                                alert(res.d);
                            },
                            error: function (res)
                                {alert(res.d)}



                        })
                    }


                }

                function OnSuccess(response)
                {
                    $("[id$=Grid1] .loader").remove();
                    $each(response, function (h, dataval) {
                        $("#Grid1").append('<tr><td>' + dataval.UserName + '</td><td>' + dataval.CommentContent + '</td></tr>');
                        pagecount = dataval.PageCount;

                    });
                    $("loader").hide();

                }
    </script>



    }